@import url('https://fonts.googleapis.com/css?family=Poppins:300,400');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@font-face {
  font-family: "Material-Design-Icons";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/Material-Design-Icons.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/Material-Design-Icons.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/Material-Design-Icons.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/Material-Design-Icons.ttf") format("truetype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/Material-Design-Icons.svg#Material-Design-Icons") format("svg");
}

html, body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9em;
}

html, body{
  height: 100%;
  width: 100%;
}

/* Content */
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px dotted #ddd;
}

/* NavBar */
.navbar {
  background-color: #000000;
  opacity: 0.7;
  padding: 1% 0;
  font-size: 1.2em;
}

.container-fluid {
  width: 70%;
}

.navbar-brand {
  min-height: 55px;
  padding: 0 15px 5px;
}

.navbar-default .navbar-nav li a {
  color: #D5D5D5;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a.active {
  background-color: 
  color: #FFFFFF;
}

.navbar-nav li .dropdown a {
  color: #D5D5D5;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover .dropdown-menu li a {
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-nav li .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0;
  margin: 1px;
}

.dropdown-menu li a {
  text-align: right;
}

/* Landing Page */
#home {
  background: url('../img/homebg.jpg') no-repeat center center fixed;
  padding-top: 80px;
  display: table;
  height: 60%;
  position: relative;
  width: 100%;
  background-size: cover;
}

.landing-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.landing-text h1 {
  text-shadow: 2px 2px #000000;
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 400%;
  font-weight: 700;
}

.landing-text h3 {
  text-shadow: 2px 2px #000000;
  color: #fff;
  font-size: 150%;
  text-transform: uppercase;
  font-weight: bold;
}

/* Global */
.padding {
  padding: 20px 0;
}

.padding img {
  width: 100%;
}

.contentpadding {
  background: url('../img/main-bg.png') no-repeat bottom right fixed;
  padding: 7.5%;
  width: 100%;
  min-height: 100%;
}

.padding p {
  text-indent: 40px;
  text-align: justify;
}

.status_margin {
  padding-top: 25px;
}

.status_main {
  align-items: center;
  align-content: center;
  text-align: center;
  font-size: 20px;
}

.status_main img {
  height: 100%;
  width: 100;
}

#restable {
  width: 100%
  border-collapse: collapse;
}

#restable-vertical {
  width: 100%
  border-collapse: collapse;
}

tr:nth-of-type(odd) {
}

tr:nth-of-type(even) {
}

#hrow {
  background-color: #000000;
  opacity: 0.4;
  color: #ffffff;
}

#hrow a {
  color: #ffffff;
}

#restable {
  padding: 5px;
  text-align: left;
}

#restable-vertical {
  padding: 5px;
  text-align: left;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: rgba(249, 249, 249, 0.5);
}

/* Fixed Image */
#fixed {
  background: url('../img/background.jpg') no-repeat center center fixed;
  display: table;
  height: auto;
  position: relative;
  width: 100%;
  background-size: cover;
}

.woe-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.woe-container iframe, .woe-container object, .woe-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.woe-text-form-head {
  text-align: center;
  font-size: 30px;
  letter-spacing: 3px;
  line-height: 52px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-shadow: 2px 2px #000000;
}

.woe-text-form {
  margin-top: -10px;
  text-align: center;
  font-size: 115%;
  letter-spacing: 3px;
  line-height: 52px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-shadow: 2px 2px #000000;
}

.woe-span {
  font-size: 110%;
  margin-bottom: 10px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 1.5px 0.5px #000000;
  vertical-align: middle;
}

.woeSchd {
  width: 100%;
  border-radius: 0.5px;
  background-color: rgba(0, 0, 0, .2);
  padding-bottom: 5px;
}

.woeEdition_1 table, .woeEdition_2 table {
  text-indent: 15px;
  width: 100%;
  padding-left: 10px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.woeEdition_1 table tr td, .woeEdition_2 table tr td{
  padding: 4px;
  font-size: 11px;
}

.woeschd-heading {
  text-indent: 10px;
  text-transform: uppercase;
  font-size: 10px;
  color: #e5bd79;
  text-align: left !important;
}

.woe-center {
  text-align: center !important;
}
.woe-right {
  text-align: right !important;
  padding-right: 12px;
}

.casPad {
  width: 100%;
  border-radius: 0.5px;
  background-color: rgba(0, 0, 0, .2);
  padding-bottom: 5px;
  padding-top: 3px;
}

.castleOwners img {
  position:absolute;
  width: 24px;
  height: 24px;
}

.agitheader {
  padding-top: 8px;
  text-indent: 10px;
  text-transform: uppercase;
  font-size: 10px;
  color: #e5bd79;
  text-align: left !important;
  font-weight: bold;
}

.agitfix {
  margin-left: -20px;
}

.ranks {
  width: 100%;
  border-radius: 0.5px;
  background-color: rgba(0, 0, 0, .2);
  padding-bottom: 5px;
  padding-top: 3px;
}

.pvpranks table {
  text-indent: 15px;
  width: 100%;
  padding-left: 10px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.pvpranks table tr td {
  padding: 4px;
  font-size: 11px;
}

/* Forms & Table*/
.fa {
  color: #000000;
}

.form-g {
  margin-bottom: 16px;
}

.form-control {
  -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 1em;
    height: 40px;
    min-width: 250px;
    /*border: 1px solid #ddd !important;*/
}

.table tr label, .table tr p {
  margin: 0;
  padding: 0;
  line-height: 3;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon, .inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  font-size: 20px;
}

/* align glyph */
.left-addon .glyphicon, .left-addon .fa  { left:  0px;}
.right-addon .glyphicon, .right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  40px;
  /*border: 1px solid #ddd; */
}
.right-addon input { padding-right: 40px; }

.radio-form-g {
  color: #555;
  display: inline-block;
  position: relative;
  margin-top: -20px;
}

.radio-form-g input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.radio-form-g label{
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1em;
    padding: 3px 18px 0px 46px;
    margin: 27px auto;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

.radio-form-g:hover label{
  color: #333;
}

.radio-form-g .check{
  display: block;
    position: absolute;
    border: 3px solid #777;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    top: 30px;
    left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.radio-form-g .check::before {
  display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 10px;
    width: 10px;
    top: 2px;
    left: 2px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

.radio-form-g input[type=radio]:checked ~ .check {
  border: 3px solid #333;
}

.radio-form-g input[type=radio]:checked ~ .check::before{
  background: #333;
}

.radio-form-g input[type=radio]:checked ~ label{
  color: #333;
}

.icon-label {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #555;
}

.icon-label .fa{
  font-size: 20px;
  padding-right: 7px;
}

.icon-label label {
  display: inline-block;
  font-size: 1.2em;
}

.date-field select{
    display: inline-block;
    width: 100px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.date-field select:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.form-btn {
  min-width: 250px;
  font-size: 16px;
  border: 1px solid #555;
  padding: 15px 30px;
  display: block;
  background: 000;
  margin: 20px 0;
  min-width: 250px;
  font-size: 16px;
  border: none;
  padding: 15px 30px;
  display: block;
  color: #fff;
  background: #000000;
  opacity: 0.7;
  margin: 15px 0;

}

.form-btn:focus, .form-btn:hover {
      display: block;
      background: #000000;
}

.col-md-7 a {
  color: #757557;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /*text-decoration: none !important;*/

}

/* Info Design */

/* feed-timeline */
.info-line { position: relative; margin: 0; }
.info-line .entry, .info-line .avatar { display: block; padding: 5px 7px; position: relative; -webkit-border-radius: 5px; border-radius: 5px; border: 1px solid #ccc; font-size: 13px; background-color: #eee; background-image: -moz-linear-gradient(top,#ffffff,#eeeeee); background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ffffff),color-stop(1,#eeeeee)); background-image: -webkit-linear-gradient(#ffffff,#eeeeee); background-image: linear-gradient(top,#ffffff,#eeeeee); filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#eeeeee'); }
.info-line .entry { font-weight: normal; }
.info-line .avatar { float: left; padding: 2px; max-width: 55px; max-height: 55px; margin: 1px 8px 1px 0; }
.info-line .avatar img { width: 55px; display: block; -webkit-border-radius: 5px; border-radius: 5px; }
.info-line .entry a { font-weight: normal; }
.info-line .entry div.name { color: #4083c6; display: block; font-size: 14px; padding-right: 70px; }
.info-line .entry span.date { position: absolute; top: 5px; right: 7px; font-size: 12px; color: #aaa; }
.info-line .entry:before { content: ''; z-index: -2; position: absolute; top: 50%; bottom: 0; left: 10px; right: 10px; -webkit-box-shadow:0 0 15px rgba(0,0,0,0.4); -moz-box-shadow:0 0 15px rgba(0,0,0,0.4); box-shadow: 0 0 15px rgba(0,0,0,0.4); -moz-border-radius: 10px / 100px; border-radius: 10px / 100px; -moz-border-radius: 100px / 10px; border-radius: 100px / 10px; }
.info-line .entry p { margin-bottom: 5px; }
.info-line .entry a img { margin-bottom: 0; }

/* vertical timeline */
.info-line-vertical { list-style: none; padding-top: 5px; }
.info-line-vertical li { display: block; margin-bottom: 24px; position: relative;  margin-left: -30px; margin-right: 8px; width: 50%; background: url('../images/timeline-middle.png') repeat-x center center; }
.info-line-vertical li.odd { clear: both; float: left; margin-top: 5px; }
.info-line-vertical li:nth-child(odd) { clear: both; float: left; margin-top: 5px; }
.info-line-vertical li.odd .entry { margin-right: 15px; }
.info-line-vertical li.even { clear: right; float: right; margin-top: 5px; margin-bottom: 10px; }
.info-line-vertical li:nth-child(even) { clear: right; float: right; margin-top: 5px; margin-bottom: 10px; }
.info-line-vertical li.even .entry { margin-left: 15px; }
.info-line-vertical li .entry { margin-bottom: 0; }
.info-line-vertical .description { padding-left: 65px; }

/* smaller then regular desktop monitor */
@media handheld, only screen and (max-width: 1100px) {
	.info-line .ts-nav span { margin-top: -18px; padding: 5px 8px; -webkit-border-radius: 5px; border-radius: 5px; border: 1px solid #ccc; background-color: #eee; background-image: -moz-linear-gradient(top,#ffffff,#eeeeee); background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ffffff),color-stop(1,#eeeeee)); background-image: -webkit-linear-gradient(#ffffff,#eeeeee); background-image: linear-gradient(top,#ffffff,#eeeeee); filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#eeeeee'); }
	.info-line .ts-nav span.ts-nav-next { right: -18px; }
	.info-line .ts-nav span.ts-nav-prev { left: -18px; }
}

/* mobile */
@media handheld, only screen and (max-width: 480px) {
	.info-line-vertical { padding: 3% }
	.info-line-vertical li { width: 100%; background: none; margin-bottom: 20px; margin-left: -21px; margin-right: 0; }
	.info-line-vertical li.odd { float: none; margin-top: 0; padding-right: 0; }
	.info-line-vertical li:nth-child(odd) { float: none; margin-top: 0; padding-right: 0; }
	.info-line-vertical li.even { float: none; margin-top: 0; margin-bottom: 20px; padding-left: 0; }
	.info-line-vertical li:nth-child(even) { float: none; margin-top: 0; margin-bottom: 20px; padding-left: 0; }
	.info-line-vertical li.odd .entry, .info-line-vertical li.even .entry { line-height: 20px; margin: 0; }
	.info-line-vertical li.more { margin-bottom: 0; }
}

/* small mobile */
@media handheld, only screen and (max-width: 320px) {
	.info-line-horizontal { background: none; }
}

/* Footer */
#footer_bg {
  background: url('../img/homebg.jpg') no-repeat center center fixed;
  height: auto;
  width: 100%;
  background-size: cover;
}

.footer-container {
  background-color: rgba(0, 0, 0, 0.7);
}

footer {
  width: 100%;
  padding: 5% 5% 4% 5%;
  color: #FFF;
}

footer h3 {
  color: #FFF;
  font-size: 110%;
  opacity: 1;
  font-weight: bold;
}

footer h4 {
  opacity: 1;
  color: #FFF;
  font-size: 100%;
}

/* Icons */
footer .fa {
  opacity: 1;
  padding: 20px;
  font-size: 25px;
  color: #FFF;
}

footer .img {
  opacity: 1;
}

.fa:hover {
  color: #D5D5D5;
  text-decoration: none;
}

.icon {
  max-width: 200px;
}

/* Mobile */
@media (max-width: 768px) {
  .landing-text h1{
    font-size: 270%;
  }

  .landing-text h1 {
    font-size: 400%;
  }

  .landing-text h3 {
    font-size: 150%;
  }

  h2 {
  	color: #444;
  	letter-spacing: 3px;
  	line-height: 30px;
    font-size: 25px;
  	text-transform: uppercase;
  }

  .padding h2{
    font-size: 2em;
    text-align: center;
  }

  .fa {
    font-size: 20px;
    padding: 10px;
  }

  .icon {
    padding-top: 5%;
    max-width: 100px;
  }

  .container-fluid {
    width: 80%;
  }

  .contentpadding {
    padding-top: 90px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5px;
    height: auto;
  }

  input[type=text], input[type=password], input[type=file], textarea {
  	min-width: 200px;
  }
  
  .form-btn {
	min-width: 200px;
  }
  
  .form-control {
	min-width: 200px;
  }

  #restable,
  #restable tbody,
  #restable tr,
  #restable td {
    display: block;
  }

  #restable tr {
    border: 1px dotted #ddd;
  }

  #hrow {
    position: absolute;
    left: -9999px;
    top: -9999px;
  }

  #restable td {
    border: none;
    position: relative;
    padding-left: 45%;
    white-space: normal;
    text-align: left;
	overflow-x: scroll;
  }

  #restable td:before {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 35%;
    white-space: nowrap;
    text-align: center;
    font-weight: bold;
    content: attr(tableHeadData);
    background-color: #000000;
    opacity: 0.4;
    color: #ffffff;
  }
  
  #restable-vertical,
  #restable-vertical tbody,
  #restable-vertical tr,
  #restable-vertical td {
    display: block;
  }

  #restable-vertical tr {
    border: none;
  }

  #restable-vertical td {
	margin-top: -9.5%;
    border: none;
    position: sticky;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
	overflow-x: scroll;
  }

  #restable-vertical td:before {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 35%;
    white-space: nowrap;
    text-align: center;
    font-weight: bold;
    content: attr(tableHeadData);
    background-color: #000000;
    opacity: 0.4;
    color: #ffffff;
  }

  .dropdown-menu li a {
    text-align: left;
  }

  .video-container {
    padding-bottom: 60%;
    margin-bottom: 15px;
  }

  .woe-stats {
    margin-top: 35px;
  }

}
